<div class="admin-flex">
  <div class="item-1">
    <app-sidenav></app-sidenav>
  </div>
  <div class="item-2">
    <app-admin-header></app-admin-header>
    <div class="container">
      <form #productForm="ngForm" (ngSubmit)="addProduct(productForm.value)">
        <div class="mb-3">
          <input type="text" class="form-control form-control-sm rounded-0 shadow-sm" placeholder="Product title..."
            name="title" ngModel>
        </div>
        <div class="mb-3">
          <input type="number" class="form-control form-control-sm rounded-0 shadow-sm" placeholder="Product price..."
            name="price" ngModel>
        </div>
        <div class="mb-3">
          <select class="form-select form-select-sm rounded-0 shadow-sm" name="category" ngModel>
            <option value="women">Woman</option>
            <option value="men">Man</option>
          </select>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control form-control-sm rounded-0 shadow-sm" placeholder="Paste image url..."
            name="image" ngModel>
        </div>
        <div class="mb-3">
          <textarea class="form-control form-control-sm rounded-0 shadow-sm" cols="30" rows="4"
            placeholder="Product description..." name="description" ngModel></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm">Add Product</button>
      </form>
    </div>
  </div>
</div>